@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="class-header">
        <h4>Game Rules</h4>
    </div>
    <div class="card-body">
        <p>
            Computer thinks of a number between 0 to 100 and your aim is to guess that number correclty.
            You are given 10 chances to guess the number. Do you think you can guess the number ?
        </p>
        <span>Rules</span>
        <ul>
            <li>Enter a number between 0 to 100.</li>
            <li> If the result is High it means the entered is more than the Computer Number</li>
            <li> If the result is Low it means the entered is less than the Computer Number</li>
            <li> You will provided with how many  numbers you are off by</li>
        </ul>
    </div>
</div>